<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                
                    <h2>Sofia Sanmarco</h2>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    
                    <h2>Milagros Tschudy</h2>
                    <p></p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    
                    <h2>Mia Taussig</h2>
                    <p></p>
                </article>
            </div>
        </div>
    </div>
</footer>