
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/profile" method="GET">
					<div class="formulariosLogin">
						<label>Usuario:</label>
						<input id="usuario" type="text" name="usuario" value="">
					</div>
	
					<div class="formulariosLogin">
						<label>Contrase単a:</label>
						<input id="Contrase単a" type="contrase単a" name="contrase単a" value="">
					</div>

					<div class="formulariosLogin">
						<label>Recordarme:</label>
						<input type="checkbox" name="Recordarme" value="">
					</div>

				</form>
			</h2>


</body>
<%- include("./partials/footer.ejs") %>
</html>