
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<section class="container">
				<form action="/profile" method="GET">
					<div class="contact"><label class="form-text" for="usuario">Usuario:</label></div>
                    <div class="contact">
                        <input id="usuario" type="usuario" name="usuario" class="form-input">
                   	<div class="usuario"></div>
                    </div>
                    <div class="contact"><label class="form-text" for="password">Contrase単a</label></div>
                    <div class="contact">
                        <input id="Contrase単a" type="contrase単a" name="contrase単a" class="form-input">
                        <div class="password"></div>
                    </div>
                    <div class="contact">
                        <label class="form-text" for="usuario">Recordarme?</label>
                    </div>
                    <div class="contact">
                        <input type="checkbox" name="Recordarme" value="">
                    </div>
					<div class="contact">
                        <button class="send" type="submit">ENVIAR</button>
                    </div>
				</form>
			</section>
				


</body>
<%- include("./partials/footer.ejs") %>
</html>