
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<section class="container">
					<form action="/nuevoProducto" method="POST">
						<div class="contact"><label class="form-text">Imagen:</label></div>
						<div class="contact">
							<input id="imagen" class="form-text" type="text" name="imagen" value="" class="form-file">
						   <div class="usuario"></div>
						</div>
						<div class="contact"><label class="form-text">Nombre del producto</label></div>
						<div class="contact">
							<input id="producto" type="text" name="producto" value="" class="form-input">
							<div class="password"></div>
						</div>
						<div class="contact">
							<label class="form-text" for="usuario">Descripcion:</label>
						</div>
						<div class="contact">
							<input id="descripcion" type="text" name="descripcion" value="" class="form-input">
						</div>
						<div class="contact">
							<button class="send" type="submit">ENVIAR</button>
						</div>
					</form>
				</section>
			</div>
		</div>

<%- include("./partials/footer.ejs") %>
</body>
</html>