
<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
				<section class="container">
					<form action="/profile" method="GET">
						<div class="contact"><label class="form-text" for="imagen">Imagen:</label></div>
						<div class="contact">
							<input id="imagen" class="imagen" type="file" name="Imagen" value="" class="form-file">
						   <div class="usuario"></div>
						</div>
						<div class="contact"><label class="form-text" for="password">Nombre del producto</label></div>
						<div class="contact">
							<input id="Producto" type="text" name="Producto" value="" class="form-input">
							<div class="password"></div>
						</div>
						<div class="contact">
							<label class="form-text" for="usuario">Descripcion:</label>
						</div>
						<div class="contact">
							<input id="Descripción" type="text" name="Descripción" value="" class="form-input">
						</div>
						<div class="contact">
							<button class="send" type="submit">ENVIAR</button>
						</div>
					</form>
				</section>
			</div>
		</div>

<%- include("./partials/footer.ejs") %>
</body>
</html>