<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="profile.ejs" method="GET"> 
					<div class="formulariosRegister">
						<label>Email:</label>
						<input id="email" type="email" name="email" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Usuario:</label>
						<input id="usuario" type="text" name="usuario" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Contrase単a:</label>
						<input id="Contrase単a" type="contrase単a" name="contrase単a" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Fecha de Nacimiento:</label>
						<input id="Fecha" type="fecha" name="fecha de nacimiento" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Numero de Documento:</label>
						<input id="Numero" type="number" name="numero de documento" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Numero de Documento:</label>
						<input id="Numero" type="number" name="numero de documento" value="">
					</div>
	
					<div class="formulariosRegister">
						<label>Foto de Perfil:</label>
						<input id="Foto" type="text" name="Foto de Perfil" value="">
					</div>
	
				</form>
			 </h2>



<%- include("./partials/footer.ejs") %>

</body>

</html>