<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>

			<form action="profile.ejs" method="GET"> 
				<div>
					<label>Email:</label>
					<input id="email" type="email" name="email" value="Enviar">
				</div>

				<div>
					<label>Usuario:</label>
					<input id="usuario" type="text" name="usuario" value="Enviar">
				</div>

				<div>
					<label>Contrase単a:</label>
					<input id="Contrase単a" type="contrase単a" name="contrase単a" value="Enviar">
				</div>

				<div>
					<label>Fecha de Nacimiento:</label>
					<input id="Fecha" type="fecha" name="fecha de nacimiento" value="Enviar">
				</div>

				<div>
					<label>Numero de Documento:</label>
					<input id="Numero" type="number" name="numero de documento" value="Enviar">
				</div>

				<div>
					<label>Numero de Documento:</label>
					<input id="Numero" type="number" name="numero de documento" value="Enviar">
				</div>

				<div>
					<label>Foto de Perfil:</label>
					<input id="Foto" type="text" name="Foto de Perfil" value="Enviar">
				</div>

			</form>


<%- include("./partials/footer.ejs") %>

</body>

</html>